functions/venv
functions/firestore-debug.log
functions/firebase-debug.log
functions/ui-debug.log
functions/keys.json

.env
firebase-cred.json
firebase-debug.log

backend/embbebed/.env
backend/embbebed2/.env
backend/embbebed/venv
backend/node_modules

**/__pycache__/

frontend/node_modules
.firebase/

.idea/
