@tailwind base;
@tailwind components;
@tailwind utilities;

  /* /COSAS DE SIDE BAR LEFT/ */
  .sideBarLeft{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #24252E;
    width: 70vw;
    padding-top: 125px;
    z-index: 20;
    transition: 0.4s ease-in;
  }
  @media(min-width: 768px){
    .sideBarLeft{
      width: 30vw;
    }
  }
  .sideBarLeft-closed{
    width: 0;
  }

  .sideBarLeftText{
    color: #FCFAF5;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 69.8vw;
    margin-top: 85px;
    padding-left: 1vw;
    padding-right: 2vw;
    margin-bottom: 110px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 20;
    transition: 0.4s ease-in;
    direction: rtl;
  }
  @media(min-width: 768px){
    .sideBarLeftText{
      width: 29.8vw;
      padding-right: 1vw;
      margin-top: 125px;
      margin-bottom: 0;
    }
  }
  .sideBarLeftText-closed{
    left: -70vw;
  }
  @media(min-width: 768px){
    .sideBarLeftText-closed{
      left: -30vw;
    }
  }

  .sideBarLeftSpace{
    background-color: transparent;
    width: 0;
    height: 100vh;
    padding-top: 125px;
    transition: 0.4s ease-in;
  }
  @media(min-width: 768px){
    .sideBarLeftSpace{
      width: 30vw;
    }
  }
  .sideBarLeftSpace-closed{
    width: 0;
  }

  .sideBarLeftButton{
    position: fixed;
    left: -100vw;
    color: #FCFAF5;
    background-color: #24252E;
    font-size: 3.5vh;
    font-weight: 600;
    width: 3.5vw;
    min-width: 50px;
    height: 40vh;
    border-radius: 10px;
    margin-top: 125px;
    padding-right: 0.5vw;
    transform: translateX(-10%);
    z-index: 10;
    transition: 0.4s ease-in;
    writing-mode: vertical-rl;
  }
  @media(min-width: 768px){
    .sideBarLeftButton{
      left: 30vw;
    }
  }
  .sideBarLeftButton-closed{
    left: -100vw;
  }
  @media(min-width: 768px){
    .sideBarLeftButton-closed{
      left: 0;
    }
  }

  .sideBarLeftButton2{
    position: fixed;
    align-self: flex-start;
    left: 70vw;
    color: #FCFAF5;
    background-color: #24252E;
    font-size: 5vh;
    font-weight: 600;
    width: 9vh;
    height: 9vh;
    border-radius: 10px;
    margin-top: 100px;
    z-index: 10;
    transform: translateX(-10%);
    transition: 0.4s ease-in;
  }
  @media(min-width: 768px){
    .sideBarLeftButton2{
      left: -100vw;
    }
  }
  .sideBarLeftButton2-closed{
    left: 0vw;
  }
  @media(min-width: 768px){
    .sideBarLeftButton2-closed{
      left: -100vw;
    }
  }

  /* /COSAS DE SIDE BAR RIGHT/ */
  .sideBarRight{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #24252E;
    width: 70vw;
    padding-top: 125px;
    z-index: 20;
    transition: 0.4s ease-in;
  }
  @media(min-width: 768px){
    .sideBarRight{
      width: 30vw;
    }
  }
  .sideBarRight-closed{
    width: 0;
  }

  .sideBarRightText{
    color: #FCFAF5;
    text-align: left;
    position: fixed;
    right: 0vw;
    top: 0;
    bottom: 0;
    width: 69.8vw;
    margin-top: 85px;
    padding-left: 2vw;
    padding-right: 1vw;
    margin-bottom: 110px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 20;
    transition: 0.4s ease-in;
  }
  @media(min-width: 768px){
    .sideBarRightText{
      width: 29.8vw;
      padding-left: 1vw;
      margin-top: 125px;
      margin-bottom: 0;
    }
  }
  .sideBarRightText-closed{
    right: -70vw;
  }
  @media(min-width: 768px){
    .sideBarRightText-closed{
      right: -30vw;
    }
  }

  .sideBarRightSpace{
    background-color: transparent;
    width: 0;
    height: 100vh;
    padding-top: 125px;
    transition: 0.4s ease-in;
  }
  @media(min-width: 768px){
    .sideBarRightSpace{
      width: 30vw;
    }
  }
  .sideBarRightSpace-closed{
    width: 0;
  }

  .sideBarRightButton{
    position: fixed;
    right: -100vw;
    color: #FCFAF5;
    background-color: #24252E;
    font-size: 3.5vh;
    font-weight: 600;
    width: 3.5vw;
    min-width: 50px;
    height: 40vh;
    border-radius: 10px;
    margin-top: 125px;
    padding-right: 0.5vw;
    transform: translateX(10%);
    z-index: 10;
    transition: 0.4s ease-in;
    writing-mode: vertical-rl;
  }
  @media(min-width: 768px){
    .sideBarRightButton{
      right: 30vw;
    }
  }
  .sideBarRightButton-closed{
    right: -100vw;
  }
  @media(min-width: 768px){
    .sideBarRightButton-closed{
      right: 0;
    }
  }

  .sideBarRightButton2{
    position: fixed;
    align-self: flex-start;
    right: 70vw;
    color: #FCFAF5;
    background-color: #24252E;
    font-size: 5vh;
    font-weight: 600;
    width: 9vh;
    height: 9vh;
    border-radius: 10px;
    margin-top: 100px;
    z-index: 10;
    transform: translateX(10%);
    transition: 0.4s ease-in;
  }
  @media(min-width: 768px){
    .sideBarRightButton2{
      right: -100vw;
    }
  }
  .sideBarRightButton2-closed{
    right: 0;
  }
  @media(min-width: 768px){
    .sideBarRightButton2-closed{
      right: -100vw;
    }
  }

  /* /COSAS DEL SCROLLBAR/ */
  ::-webkit-scrollbar{
    width: 1vw;
  }
  ::-webkit-scrollbar-track {
    background: rgb(36, 37, 46);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(77, 80, 97);
    border-radius: 10px;
  }

  /* /COSAS DE RC-SEGMENTED/ */
  .rc-segmented {
    display: inline-block;
    background-color: rgba(29, 31, 40, 0.5);
  }
  .rc-segmented-group {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-items: flex-start;
    width: 100%;
    border-radius: 2px;
  }
  .rc-segmented-item {
    position: relative;
    height: 8vh;
    max-height: 80px;
    padding-left: 3vw;
    padding-right: 3vw;
    color: rgba(84, 86, 245, 0.85);
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2.5vh;
  }
  @media(min-width: 768px){
    .rc-segmented-item{
      max-height: 40px;
      font-size: 3vh;
    }
  }
  .rc-segmented-item-selected {
    background-color: rgb(84, 86, 245);
    color: rgb(252, 250, 245);
  }
  .rc-segmented-item:hover,
  .rc-segmented-item:focus {
    color: rgb(252, 250, 245);
  }
  .rc-segmented-item-disabled,
  .rc-segmented-item-disabled:hover,
  .rc-segmented-item-disabled:focus {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .rc-segmented-item-label {
    z-index: 1;
    line-height: 24px;
  }
  .rc-segmented-item-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
  .rc-segmented-disabled .rc-segmented-item,
  .rc-segmented-disabled .rc-segmented-item:hover,
  .rc-segmented-disabled .rc-segmented-item:focus,
  .rc-segmented-disabled .rc-segmented-item:hover,
  .rc-segmented-disabled .rc-segmented-item:hover:hover,
  .rc-segmented-disabled .rc-segmented-item:focus:hover,
  .rc-segmented-disabled .rc-segmented-item:focus,
  .rc-segmented-disabled .rc-segmented-item:hover:focus,
  .rc-segmented-disabled .rc-segmented-item:focus:focus {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .rc-segmented-thumb {
    background-color: rgb(84, 86, 245);
    position: absolute;
    width: 0;
    height: 100%;
    padding: 4px 0;
  }
  .rc-segmented-thumb-motion-appear-active,
  .rc-segmented-thumb-motion-enter-active {
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: transform, width;
  }
  .rc-segmented-rtl {
    direction: rtl;
  }