langchain_openai 
langchain_pinecone  
pinecone 
dotenv  
openai 
time
os
langchain-google-firestore
langchain_google_firestore 
langchain-pinecone 
langchain-openai 
langchain
langchain-community 
langchainhub 
langchain-core
google-auth
google-cloud-firestore
sentence-transformers