@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    color: #FCFAF5;
    text-align: center;
    margin-bottom: 6vh;
    margin-top: 10vh;
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 5vh;
    transition: 0.4s ease-in;
}
/*@media(min-width: 1024px){
    .sideBarLeft{
      font-size: 6vh;
    }
}*/
.header-higher{
    margin-top: 0vh;
}