div.ARPA_header{
    background-color: rgb(77, 80, 97);
    font-size: 200%;
    color: rgb(252, 250, 245);
    position: fixed;
    top: 0;
    height: 15vw;
    max-height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  @media screen and (min-width: 768px){
    div.ARPA_header{
      background-color: rgb(77, 80, 97);
      font-size: 200%;
      color: rgb(252, 250, 245);
      position: fixed;
      top: 0;
      height: 25vw;
      max-height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  div.sections_header{
    background-color: rgb(77, 80, 97);
    font-size: 200%;
    color: rgb(252, 250, 245);
    position: fixed;
    bottom: 0;
    height: 25vw;
    max-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  @media only screen and (min-width: 768px){
    div.sections_header{
      background-color: transparent;
      font-size: 200%;
      color: rgb(252, 250, 245);
      position: fixed;
      top: 0;
      height: 25vw;
      max-height: 100px;
      width: 50%;
      margin-left: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  .headerText{
    display: inline;
    vertical-align: middle;
    font-size: 175%;
  }
  @media screen and (min-width: 768px){
    .headerText{
      padding-left: 5%;
      display: inline;
      vertical-align: middle;
      font-size: 175%;
    }
  }
  
  div.sectionGroup{
    float: inline-end;
    background-color: transparent;
    vertical-align: middle;
  }
  @media screen and (min-width: 768px){
    div.sectionGroup{
      float: inline-end;
      background-color: transparent;
      vertical-align: middle;
      padding-right: 5%;
    }
  }
  
  button.sections{
    border-width: 0px;
    background-color: transparent;
    color: rgb(252, 250, 245);
    vertical-align: middle;
    padding: 0% 0% 0% 0%;
  }
  button.sections:hover{
    color: rgb(232, 221, 197);
  }
  button.sections:active{
    color: rgb(217, 189, 122)
  }
  
  button.arrow{
    border-width: 0px;
    background-color: transparent;
    vertical-align: middle;
    margin-left: 3%;
    color: rgb(252, 250, 245);
  }
  button.arrow:hover{
    color: rgb(188, 186, 181);
  }
  button.arrow:active{
    color: rgb(86, 85, 83);
  }
  
  
  .main{
    background-color: rgb(48, 50, 61);
    padding-top: 15vh;
    padding-bottom: 20vh;
    font-weight: 600;
    
  }
  @media only screen and (min-width: 768px){
    .main{
      background-color: rgb(48, 50, 61);
      padding-top: 125px;
      padding-bottom: 0;
      height: 100vh;
      font-weight: 600;
    }
  }

  .text{
    color: rgb(252, 250, 245);
  }
  @media only screen and (min-width: 768px){
    .text{
      color: rgb(252, 250, 245);
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 5vh;
      font-size: 2vw;
    }
  }