@tailwind base;
@tailwind components;
@tailwind utilities;

div.ARPA_header{
    background-color: rgb(77, 80, 97);
    font-size: 200%;
    color: rgb(252, 250, 245);
    position: fixed;
    top: 0;
    height: 15vw;
    max-height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  @media screen and (min-width: 768px){
    div.ARPA_header{
      background-color: rgb(77, 80, 97);
      font-size: 200%;
      color: rgb(252, 250, 245);
      position: fixed;
      top: 0;
      height: 25vw;
      max-height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  div.sections_header{
    background-color: rgb(77, 80, 97);
    font-size: 200%;
    color: rgb(252, 250, 245);
    position: fixed;
    bottom: 0;
    height: 25vw;
    max-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  @media only screen and (min-width: 768px){
    div.sections_header{
      background-color: transparent;
      font-size: 200%;
      color: rgb(252, 250, 245);
      position: fixed;
      top: 0;
      height: 25vw;
      max-height: 100px;
      width: 50%;
      margin-left: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  .headerText{
    display: inline;
    vertical-align: middle;
    font-size: 175%;
  }
  @media screen and (min-width: 768px){
    .headerText{
      padding-left: 5%;
      display: inline;
      vertical-align: middle;
      font-size: 175%;
    }
  }
  
  div.sectionGroup{
    float: inline-end;
    background-color: transparent;
    vertical-align: middle;
  }
  @media screen and (min-width: 768px){
    div.sectionGroup{
      float: inline-end;
      background-color: transparent;
      vertical-align: middle;
      padding-right: 5%;
    }
  }
  
  button.sections{
    border-width: 0px;
    background-color: transparent;
    vertical-align: middle;
    padding: 0% 0% 0% 0%;
  }
  .icon-header:hover {
    stroke: rgb(221, 198, 146);
  }
  
  button.arrow{
    border-width: 0px;
    background-color: transparent;
    vertical-align: middle;
    margin-bottom: -2%;
    margin-left: 3%;
    color: rgb(252, 250, 245);
  }
  button.arrow:hover{
    color: rgb(188, 186, 181);
  }
  button.arrow:active{
    color: rgb(86, 85, 83);
  }
  
  
  .main{
    background-color: rgb(48, 50, 61);
    padding-top: 15vh;
    padding-bottom: 20vh;
    font-weight: 600;
    
  }
  @media only screen and (min-width: 768px){
    .main{
      background-color: rgb(48, 50, 61);
      padding-top: 125px;
      padding-bottom: 0;
      height: 100vh;
      font-weight: 600;
    }
  }
  
  h1.centerHeader{
    color: rgb(252, 250, 245);
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 8vw;
  }
  @media only screen and (min-width: 768px){
    h1.centerHeader{
      color: rgb(252, 250, 245);
      text-align: center;
      margin-top: 0%;
      margin-bottom: 0%;
      font-size: 5ch;
    }
  }

  .formatsContainer{
    text-align: center;
  }
  @media only screen and (min-width: 768px){
    .formatsContainer{
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }
  
  .format{
    background-color: transparent;
    border-width: 0px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5vh;
    display: block;
    position: relative;
  }
  @media only screen and (min-width: 768px){
    .format{
      background-color: transparent;
      border-width: 0px;
      border-radius: 10px;
      margin-top: 10vh;
      margin-left: 5vw;
      margin-right: 5vw;
      display: inline;
      position: relative;
    }
  }
  .icon-format:hover {
    stroke: rgb(47, 49, 171);
  }
  
  input.urlField{
    height: 10vw;
    max-height: 60px;
    width: 80vw;
    font-size: 5vw;
    margin-top: 15vh;
  }
  @media only screen and (min-width: 768px){
    input.urlField{
      height: 10vh;
      max-height: 50px;
      width: 70vw;
      max-width: 700px;
      font-size: 2vw;
      margin-left: 5vw;
      margin-top: 15vh;
    }
  }
  
  button.url{
    background-color: rgb(84, 86, 245);
    color: rgb(48, 50, 61);
    width: 40vw;
    border-width: 0px;
    border-radius: 15px;
    margin-top: 5vh;
    margin-bottom: 8vh;
    margin-left: 3vw;
    margin-right: 3vw;
    position: relative;
    transform: translateY(0%);
  }
  @media only screen and (min-width: 768px){
    button.url{
      background-color: rgb(84, 86, 245);
      color: rgb(48, 50, 61);
      width: 8vh;
      height: 8vh;
      border-width: 0px;
      border-radius: 15px;
      margin-top: 0vh;
      margin-bottom: 8vw;
      margin-left: 1vw;
      margin-right: 5vw;
      display: inline;
      position: relative;
      transform: translateY(20%);
    }
  }
  button.url:hover{
    background-color: rgb(67, 69, 175);
  }
  button.url:active{
    background-color: rgb(252, 250, 245);
    color: rgb(48, 50, 61);
  }
  
  label.upload{
    background-color: rgb(48, 50, 61);
    color: rgb(84, 86, 245);
    border-style: dotted;
    border-color: rgb(84, 86, 245);
    border-width: 4px;
    border-radius: 15px;
    margin-inline: auto;
    margin-top: 3vh;
    width: 70vw;
    max-width: 325px;
    height: 70vw;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (min-width: 768px){
    label.upload{
      background-color: rgb(48, 50, 61);
      color: rgb(84, 86, 245);
      border-style: dotted;
      border-color: rgb(84, 86, 245);
      border-width: 4px;
      border-radius: 15px;
      margin-inline: auto;
      margin-top: 1vh;
      width: 70vw;
      max-width: 325px;
      height: 70vw;
      max-height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  label.siguiente{
    background-color: rgb(48, 50, 61);
    color: rgb(252, 250, 245);
    border: solid;
    border-color: rgb(252, 250, 245);
    border-radius: 10px;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vw;
    width: 70vw;
    max-width: 325px;
    height: 20vw;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
  }
  @media only screen and (min-width: 768px){
    label.siguiente{
      background-color: rgb(48, 50, 61);
      color: rgb(252, 250, 245);
      border: solid;
      border-color: rgb(252, 250, 245);
      border-radius: 10px;
      margin: auto;
      margin-top: 3vh;
      width: 70vw;
      max-width: 325px;
      height: 20vw;
      max-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 200%;
    }
  }
  label.siguiente:hover{
    background-color: rgb(40, 41, 51);
  }
  label.siguiente:active{
    background-color: rgb(252, 250, 245);
    border-color: rgb(48, 50, 61);
    color: rgb(48, 50, 61);
  }

  .errorMessage{
    color: brown;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    font-size: 1.5em;
  }
  @media only screen and (min-width: 768px){
    .errorMessage{
      color: brown;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-left: 25vw;
      margin-right: 25vw;
      margin-top: 5vh;
      font-size: 2em;
    }
  }